/* ==========================================================================
Font variables
========================================================================== */

$title-font: 'Lato';
$body-font: 'Nunito';
$heading-font: 'Nunito Sans';
$button-font: 'Nunito Sans-Medium';